<%- include("partials/header") %>
<nav class="navbar navbar-expand-lg bg-warning text-dark">
  <div class="d-flex w-100 flex-row justify-content-between">
    <div style="margin-top:2px;">
      <a href="mailto:harshanurs06@gmail.com?subject=feedback" class="navbar-brand brand-name ms-3">Untold</a>
    </div>
    <div class="me-3">
      <a class="btn btn-warning add-secret rounded" href="/submit">Add your secret! <i class="fa-solid fa-plus"></i></a>
    </div>
    <div>
      <ul class="navbar-nav ms-auto me-3">
        <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="start-header mt-4 mb-3">
  Your secrets are safe here.
</div>

<%if(status){%>
  <div id="isEmpty" class="d-flex justify-content-center align-items-center mt-5 empty-class">
    <span><%=status%></span>
  </div>
<%}%>

<% let secretsArray = [] %>
<% for(let i=0;i<usersLists.length;i++){ %>
<%   if(usersLists[i].secrets.length>0){ %>
<%		 secretsArray.push(...usersLists[i].secrets) %>
<%	 } %>
<% } %>

<div class="wrapper">
<% for(let j=0;j<secretsArray.length;j++){ %>
  <div class="box rounded">
    <div class="box-body">
      <% let secretObject = JSON.parse(secretsArray[j]) %>
      <%= secretObject.secret.slice(0, 150)%>
      <form action="/start" method="POST">
        <input type="hidden" name="secretSelected" value=<%=secretObject.secretID %> >
        <button id="btn-react" class="btn react-btn" type="submit"><i class="fa-regular fa-heart"></i></button>
      </form>
    </div>
  </div>
<% } %>
</div>

<%- include("partials/footer") %>
